@import 'breakpoint-sass/stylesheets/_breakpoint.scss';

.block {
	padding: 0 $pad * 6;

	&.block-fill {
		// min-height: 100vh;

		// &.webkit-fix {
		// 	@supports(-webkit-touch-callout: none) {
		// 		min-height: -webkit-fill-available;
		// 	}
		// }
	}

	@include breakpoint($breakMobile) {
		padding: 0 $pad * 2;
	}

	&.block-centered {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}