@import 'breakpoint-sass/stylesheets/_breakpoint.scss';

.block {
	min-height: 100vh;
	padding: 0 $pad * 6;

	@include breakpoint($breakMobile) {
		padding: 0 $pad * 2;
	}

	&.block-centered {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}