@import 'breakpoint-sass/stylesheets/_breakpoint.scss';

.block {
	padding: 0 $pad * 6;

	// &.block-fill {
	// 	min-height: 100vh;
	// }

	// &.block-fill-75 {
	// 	min-height: 75vh;
	// }

	// &.block-fill-50 {
	// 	min-height: 50vh;
	// }

	@include breakpoint($breakMobile) {
		padding: 0 $pad * 2;
	}

	&.block-centered {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}