@font-face {
  font-family: 'BuenosAiresRegular';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/BuenosAiresWeb-Regular.eot');
  src: url('/fonts/BuenosAiresWeb-Regular.woff2') format('woff2'),
       url('/fonts/BuenosAiresWeb-Regular.woff') format('woff');
}

@font-face {
  font-family: 'BuenosAiresBold';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/BuenosAiresWeb-Bold.eot');
  src: url('/fonts/BuenosAiresWeb-Bold.woff2') format('woff2'),
       url('/fonts/BuenosAiresWeb-Bold.woff') format('woff');
}

@font-face {
  font-family: 'AssemblyHumanOne';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/AssemblyHumanOneWeb-Regular.eot');
  src: url('/fonts/AssemblyHumanOneWeb-Regular.woff2') format('woff2'),
       url('/fonts/AssemblyHumanOneWeb-Regular.woff') format('woff');
}

body {
  font-weight: 400;
  font-style: normal;
  font-size: $pad * 0.75;
  line-height: 150%;
  font-feature-settings: "dlig", "ss01";
  letter-spacing: calc(-0.015em + 0.14px);
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  font-kerning: normal;
  font-variant-ligatures: none;
  -webkit-font-smoothing: antialiased;

  @include breakpoint($breakMobile) {
    font-size: $pad * 1.75;
    line-height: $pad * 2.5;
  }
}

.font-main {
  font-family: 'BuenosAiresRegular', sans-serif;
}

.font-bold {
  font-family: 'BuenosAiresBold', sans-serif;
}

.font-symbol {
  font-family: 'AssemblyHumanOne';
  font-size: $pad * 3;
  line-height: 100%;

  @include breakpoint($breakMobile) {
    font-size: $pad * 5;
    line-height: 100%;
  }
}

.font-large {
  font-size: $pad * 1.5;
  line-height: 135%;

  @include breakpoint($breakMobile) {
    font-size: $pad * 2.5;
    line-height: 135%;
  }
}

.font-huge {
  font-size: $pad * 2;
  line-height: 150%;

  @include breakpoint($breakMobile) {
    font-size: $pad * 4;
    line-height: 150%;
  }
}

.font-small {
  font-size: $pad * 0.5;
  line-height: 175%;

  @include breakpoint($breakMobile) {
    font-size: $pad * 1.75;
    line-height: $pad * 2.5;
  }
}

.font-tiny {
  font-size: $pad * 0.35;
  line-height: 175%;

  @include breakpoint($breakMobile) {
    font-size: $pad;
  }
}

.font-tight {
  line-height: 120%;
}

.font-cite {
  font-feature-settings: normal;
}

.link {
  border-bottom: $pad * 0.1 solid $black;
}

a {
  text-decoration: none;
  color: unset;
}