// colors
$blue: #0035cc;
$white: #fff;
$black: #000;

// breakpoints
$bp-1: 520px; // Phablet
$bp-2: 768px; // iPad portrait
$bp-3: 1024px; // iPad landscape
$bp-4: 1280px; // Desktop small
$bp-5: 1440px; // Desktop medium
$bp-6: 1680px; // Desktop large

// widths
%pageWidth {
  margin: 0 auto;
  @media (min-width: $bp-6) {
    width: $bp-6;
  }
}

// fonts
%t-0 {
  font-family: BuenosAires, sans-serif;
  font-size: 18px;
  line-height: 1.4;
  font-feature-settings: "ss01";
  @media (min-width: $bp-3) {
    font-size: 24px;
  }
}

%t-1 {
  font-family: BuenosAires, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: bold;
}

%t-2 {
  font-family: BuenosAires, sans-serif;
  font-size: 28px;
  line-height: 1.2;
  font-feature-settings: "dlig", "ss01";
  @media (min-width: $bp-2) {
    font-size: 42px;
  }
}

%t-3 {
  font-family: BuenosAires, sans-serif;
  font-size: 24px;
  line-height: 1.2;
  font-weight: bold;
  font-feature-settings: "ss01";
}

%t-4 {
  font-family: BuenosAires, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  font-feature-settings: "dlig";
  @media (min-width: $bp-2) {
    font-size: 36px;
  }
}

// other
$pad: 12px;
