---
import Page from '@/components/Page.astro'
import Type from '@/components/Type.astro'
---

<Page id="contact">
  <Type Element="h2" type="title">Kontakt</Type>
  <Type Element="p" type="subtitle">Erreichbar über alles ausser Fax</Type>
  <div class="content">
    <Type Element="p" type="paragraph">
      Riccardo Lardi<br />Schertlingasse 3<br />4051 Basel<br />Schweiz
    </Type>
    <Type Element="p" type="paragraph">
      <a href="tel:0041793396538">+41 79 339 65 38</a><br />
      <a href="mailto:hello@riccardolardi.com">hello@riccardolardi.com</a>
    </Type>
    <Type Element="p" type="paragraph">
      <a
        class="arrow-link"
        href="https://www.linkedin.com/in/riccardolardi"
        target="_blank"
        rel="noopener"
        class="external">LinkedIn</a
      >
      <a
        class="arrow-link"
        href="https://twitter.com/riccardolardi"
        target="_blank"
        rel="noopener"
        class="external">Twitter</a
      >
      <a
        class="arrow-link"
        href="https://github.com/riccardolardi"
        target="_blank"
        rel="noopener"
        class="external">GitHub</a
      >
    </Type>
  </div>
</Page>

<style lang="scss">
  @import '../../assets/styles/_index.scss';
  .content {
    margin: 2rem 0 0;
    @include bp(1) {
      margin: 4rem 0 0 2rem;
    }
    :global(p) {
      &:not(:last-child) {
        margin: 0 0 0.8em;
      }
    }
    :global(.arrow-link) {
      display: flex;
      align-items: center;
      &::before {
        content: '';
        width: 0.6em;
        height: 0.6em;
        margin: 0 0.2em 0 0;
        background-image: url(/icons/arrow.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50%;
      }
    }
  }
</style>
