---
import Page from '@/components/Page.astro'
import Type from '@/components/Type.astro'
import iconCode from '@/assets/icons/code.svg'
import iconRuler from '@/assets/icons/ruler.svg'
import iconPerson from '@/assets/icons/person.svg'
---

<Page id="services">
  <Type Element="h2" type="title">Services</Type>
  <Type Element="p" type="subtitle">Code, Design, Beratung</Type>
  <div class="content">
    <article>
      <div class="intro-text">
        <Type Element="p" type="paragraph">
          Software Entwicklung von Projekten im Bereich von Web/Frontend & Apps
          sowie auch von physischen, medialen Applikationen wie z.B. für Museen
          oder Ausstellungen.
        </Type>
        <Type Element="p" type="paragraph">
          Begleitung von Gestaltungsprozessen, Beratung im Hinblick auf die
          technische Umsetzung, UI/UX und Interaction Design.
        </Type>
      </div>
      <ul>
        <li>
          <img src={iconCode} alt="Code" />
          <ul>
            <li>
              <Type Element="p" type="caption-small">
                Frontend Engineering (React, TypeScript, Next.js)
              </Type>
            </li>
            <li>
              <Type Element="p" type="caption-small">
                Backend / Fullstack (Node.js, Strapi, CraftCMS)
              </Type>
            </li>
            <li>
              <Type Element="p" type="caption-small">
                DevOps (Vercel, Github Actions, Docker)
              </Type>
            </li>
          </ul>
        </li>
        <li>
          <img src={iconRuler} alt="Ruler" />
          <ul>
            <li>
              <Type Element="p" type="caption-small">
                Beratung und Begleitung von Designprozessen
              </Type>
            </li>
            <li>
              <Type Element="p" type="caption-small">
                Machbarkeitsstudien, technische Einschätzungen
              </Type>
            </li>
            <li>
              <Type Element="p" type="caption-small">
                Konzeption, Prototyping, agile Methoden
              </Type>
            </li>
          </ul>
        </li>
        <li>
          <img src={iconPerson} alt="Person" />
          <ul>
            <li>
              <Type Element="p" type="caption-small">
                Technische Projektleitung
              </Type>
            </li>
            <li>
              <Type Element="p" type="caption-small">
                Schulungen, Workshops, Wissenstransfer
              </Type>
            </li>
            <li>
              <Type Element="p" type="caption-small">
                Mentoring, Code Reviews, Pair Programming
              </Type>
            </li>
          </ul>
        </li>
      </ul>
    </article>
  </div>
</Page>

<style lang="scss">
  @import '../../assets/styles/_index.scss';
  .content {
    margin: 2rem 0 0;
    @include bp(1) {
      margin: 4rem 0 0 2rem;
    }
    :global(p) {
      &:not(:last-child) {
        margin: 0 0 0.8em;
      }
    }
    article {
      > ul {
        @extend %t-caption;
        font-weight: unset;
        margin: 2rem 2rem 0;
        @include bp(1) {
          margin: 2rem 0 0;
        }
        > li {
          @include bp(1) {
            display: flex;
            align-items: center;
            gap: 2em;
          }
          + li {
            margin: 1.4rem 0 0;
          }
          img {
            max-width: 3.2rem;
          }
          ul {
            list-style-type: disc;
          }
        }
      }
    }
  }
</style>
