---
import Layout from '@/layouts/Layout.astro'
import Page from '@/components/Page.astro'
import Type from '@/components/Type.astro'
---

<Layout title="Type">
  <Page>
    <div>
      <Type Element="p" type="label">Paragraph</Type>
      <Type Element="p" type="paragraph">
        Software Engineer, Designer. Lorem Ipsum is simply dummy text of the
        printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a
        galley of type and scrambled it to make a type specimen book. It has
        survived not only five centuries, but also the leap into electronic
        typesetting, remaining essentially unchanged. It was popularised in the
        1960s with the release of Letraset sheets containing Lorem Ipsum
        passages, and more recently with desktop publishing software like Aldus
        PageMaker including versions of Lorem Ipsum.
      </Type>
    </div>
    <div>
      <Type Element="p" type="label">Title</Type>
      <Type Element="p" type="title">
        Software Engineering, Design, Consulting
      </Type>
    </div>
    <div>
      <Type Element="p" type="label">Subtitle</Type>
      <Type Element="p" type="subtitle">Software Engineer, Designer</Type>
    </div>
    <div>
      <Type Element="p" type="label">Label</Type>
      <Type Element="p" type="label">
        This could be a media description label
      </Type>
    </div>
    <div>
      <Type Element="p" type="label">Caption</Type>
      <Type Element="p" type="caption">Studio<br />Riccardo<br />Lardi</Type>
    </div>
    <div>
      <Type Element="p" type="label">Intro</Type>
      <Type Element="p" type="intro">Web,<br />Apps,<br />Interaction.</Type>
    </div>
  </Page>
</Layout>

<style lang="scss">
  div {
    padding: 2rem;
    &:first-child {
      margin-top: 6rem;
    }
  }
</style>
