---
export interface Props {
  id?: string
  extraClasses?: string[]
  children: any
}

const { id, extraClasses } = Astro.props
---

<section id={id} class:list={['page', ...(extraClasses || [])]}>
  <slot />
</section>

<style lang="scss">
  @import '../assets/styles/_index.scss';
  .page {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    transition: opacity 255ms;
    &:not(#intro) {
      padding: 8rem 2rem 0;
      @include bp(1) {
        padding: 8rem 8rem 2rem;
      }
    }
  }
</style>
