@font-face {
  font-family: BuenosAires;
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('/fonts/BuenosAiresWeb-Regular.woff2') format('woff2'),
    url('/fonts/BuenosAiresWeb-Regular.woff') format('woff');
}

@font-face {
  font-family: BuenosAires;
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url('/fonts/BuenosAiresWeb-Bold.woff2') format('woff2'),
    url('/fonts/BuenosAiresWeb-Bold.woff') format('woff');
}

@font-face {
  font-family: AssemblyHumanOne;
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('/fonts/AssemblyHumanOneWeb-Regular.woff2') format('woff2'),
    url('/fonts/AssemblyHumanOneWeb-Regular.woff') format('woff');
}
