@import './Vars.scss';
@import 'breakpoint-sass';

#app {
  font-family: 'BuenosAiresRegular', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: $pad * 0.6;
  font-feature-settings: "dlig", "ss01";
  letter-spacing: calc(-0.015em + 0.14px);
  line-height: calc(1.14em + 0.1vw);
  background-color: $secondaryColor;
  color: $primaryColor;
  transition: color 0ms, background-color 125ms 0ms;

  @include breakpoint($breakMobile) {
    font-size: $pad * 1.4;
  }

  &.is-intro {
    background-color: $primaryColor;
    color: $secondaryColor;
  }

  &.menu-open {

    @include breakpoint($breakMobile) {
      background-color: $primaryColor;
    }
  }

  &.navigating-up, 
  &.navigating-down {

    .block article {
      opacity: 0 !important;
      transition: all 125ms 0ms !important;
    }
  }

  &.navigating-up {

    .block article {
      transform: translateY(2vh);
    }
  }

  &.navigating-down {

    .block article {
      transform: translateY(-2vh);
    }
  }

  h1 {
    font-size: $pad;

    @include breakpoint($breakMobile) {
      font-size: $pad * 2.4;
    }
  }

  h2 {
    font-size: $pad * 0.8;

    @include breakpoint($breakMobile) {
      font-size: $pad * 1.8;
    }
  }

  h3 {
    font-size: $pad * 1.4;

    @include breakpoint($breakMobile) {
      font-size: $pad * 2.4;
    }
  }

  h4 {

  }

  p {
    margin-bottom: $pad / 4;
    hyphens: auto;

    @include breakpoint($breakMobile) {
      margin-bottom: $pad;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &+h4 {
      margin-top: $pad / 2;

      @include breakpoint($breakMobile) {
        margin-top: $pad * 1.2;
      }
    }
  }

  a {
    text-decoration: none;
    color: $primaryColor;

    &.link {
    }
  }

  .assembly-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .assembly {
    font-family: 'AssemblyHumanOne';
    font-size: $pad * 4;
    line-height: $pad * 4;
    margin-left: -$pad * 2;

    @include breakpoint($breakMobile) {
      font-size: $pad * 8;
    }
  }

  .bold {
    font-family: 'BuenosAiresBold';
    line-height: calc(1.14em + 0.1vw);
    letter-spacing: 0.01em;
  }

  .margin-top {
    display: block;
    margin-top: $pad / 4;
  }

  .margin-bottom {
    display: block;
    margin-bottom: $pad / 4;
  }

  .padding-top {
    padding-top: $pad * 2;
  }

  .rotate90 {
    transform: rotateZ(90deg);
  }

  .logo-symbol {

    svg {
      display: block;
      height: auto;
      fill: $secondaryColor;
    }

    &.box svg {
      animation: 12s linear infinite boxAnim;
    }

    &.triangle svg {
      animation: 9s linear infinite reverse triangleAnim;
    }

    &.circle svg {
      animation: 13s linear infinite circleAnim;
    }
  }

  .block {
    position: relative;
    min-height: 100vh;
    padding: $pad;

    @include breakpoint($breakMobile) {
      padding: 0 $pad * 4;
    }

    &.is-active {

      &.prev-is-intro {

        h3 {
          opacity: 0.999; // hacky...
          transform: translateX(0.01px); // and again!
          transition: opacity 125ms 1.125s, transform 125ms 1.125s; // but why??

          @include breakpoint($breakMobile) {
            transition: opacity 125ms 125ms, transform 125ms 125ms;
          }
        }
      }

      article {
        opacity: 1;
        pointer-events: auto;
        transition: opacity 125ms 125ms;
      }

      h3 {
        opacity: 1;
        transform: translateX(0);
        transition: opacity 125ms 125ms, transform 125ms 125ms;
      }
    }

    h3 {
      position: fixed;
      top: $pad * 3.7;
      left: $pad * 1.4;
      opacity: 0;
      transform: translateX(-2vw);
      transition: opacity 125ms 0ms, transform 0ms 125ms;
      z-index: 10;

      @include breakpoint($breakMobile) {
        position: relative;
        top: 0;
        left: -0.3vw;
        padding: 0;
        margin: 0 0 $pad;
        z-index: 0;
      }
    }

    article {
      position: relative;
      padding: 0 0 0 $pad;
      margin-bottom: $pad * 2;
      opacity: 0;
      pointer-events: none;
      transition: opacity 125ms;

      &:last-child {
        margin-bottom: 0;
      }

      @include breakpoint($breakMobile) {
        padding: 0;
        margin-bottom: $pad * 4;
      }

      ul {
        margin: $pad / 2 0 0 $pad;

        @include breakpoint($breakMobile) {
          margin: $pad 0 $pad * 2 $pad * 2.8;
        }

        li {
          list-style-type: square;
        }
      }

      &.text-center {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .text {
          width: 66.666%;

          @include breakpoint($breakMobile) {
            width: 100%;
          }

          &.align-center{
            text-align: center;
          }
        }
      }

      &.with-image {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        @include breakpoint($breakMobile) {
          flex-direction: column;
        }

        .text {
          position: relative;
          width: 42%;
          margin: $pad 0;

          @include breakpoint($breakMobile) {
            width: 100%;
          }
        }

        &.image-left {
          flex-direction: row-reverse;

          @include breakpoint($breakMobile) {
            flex-direction: column;
          }
        }
      }

      .image {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 42%;

        @include breakpoint($breakMobile) {
          width: 100%;
        }

        &.align-left {
          align-items: flex-start;
        }

        img {
          display: block;
          max-width: 100%;
          max-height: 66.666vh;
        }
      }
    }
  }

  .divider {
    display: block !important;
    margin-bottom: $pad * 0.2;
    
    &:before {
      position: relative;
      left: $pad * 0.035;
      content: "––";
      font-family: sans-serif;
      font-weight: bold;
    }

    &.divider-right {

      &:before {
        left: 0;
      }
    }
  }
}

@keyframes boxAnim {
  from {
    transform: rotate3d(1,1,1,0deg);
  }
  25%{
    transform: rotate3d(1,1,1,-90deg);
  }
  50%{
    transform: rotate3d(1,1,1,-180deg);
  }
  75%{
    transform: rotate3d(1,1,1,-270deg);
  }
  to{
    transform:rotate3d(1,1,1,-360deg);
  }
}

@keyframes triangleAnim {
  from {
    transform: rotate3d(1,1,1,0deg);
  }
  25%{
    transform: rotate3d(1,1,1,90deg);
  }
  50%{
    transform: rotate3d(1,1,1,180deg);
  }
  75%{
    transform: rotate3d(1,1,1,270deg);
  }
  to{
    transform:rotate3d(1,1,1,360deg);
  }
}

@keyframes circleAnim {
  from {
    transform: rotate3d(1,1,1,0deg);
  }
  25%{
    transform: rotate3d(1,1,1,-90deg);
  }
  50%{
    transform: rotate3d(1,1,1,-180deg);
  }
  75%{
    transform: rotate3d(1,1,1,-270deg);
  }
  to{
    transform:rotate3d(1,1,1,-360deg);
  }
}