@import './Vars.scss';
@import 'breakpoint-sass';

#app {
  font-family: 'Buenos Aires', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: $pad * 0.6;
  font-feature-settings: "ss01", "dlig";
  letter-spacing: calc(-0.015em + 0.14px);
  line-height: calc(1.14em + 0.1vw);
  background-color: $secondaryColor;
  color: $primaryColor;
  transition: background-color 250ms 0ms;

  &.is-intro {
    background-color: $primaryColor;
    color: $secondaryColor;
  }

  h1 {
    font-size: $pad;
    font-weight: bold;
    font-feature-settings: "ss01", "dlig";
    letter-spacing: calc(-0.015em + 0.14px);
    line-height: calc(1.14em + 0.1vw);
  }

  h2 {
    font-size: $pad * 0.8;
    font-feature-settings: "ss01", "dlig";
    letter-spacing: calc(-0.015em + 0.14px);
    line-height: calc(1.14em + 0.1vw);
  }

  h3 {
    font-size: $pad * 1.4;
    font-feature-settings: "ss01", "dlig";
    letter-spacing: calc(-0.015em + 0.14px);
    line-height: calc(1.14em + 0.1vw);
  }

  p {
    margin-bottom: $pad / 4;
    hyphens: auto;

    &:first-of-type {
      margin-top: $pad / 4;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .logo-symbol {

    svg {
      display: block;
      height: auto;
      fill: $secondaryColor;
    }

    &.box svg {
      animation: 12s linear infinite boxAnim;
    }

    &.triangle svg {
      animation: 9s linear infinite reverse triangleAnim;
    }

    &.circle svg {
      animation: 13s linear infinite circleAnim;
    }
  }

  .block {
    padding: $pad;
  }

  .divider {
    display: block;
    position: absolute;
    width: $pad;
    height: $pad;
    line-height: $pad;

    span {
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;

      &:before {
        content: "––";
        position: absolute;
        top: 0px;
        left: 0px;
      }
    }

    &.divider-top {
      top: -$pad;
    }

    &.divider-bottom {
      bottom: -$pad * 0.5;
    }

    &.divider-left {
      
    }

    &.divider-right {
      left: auto;
      right: 0px;

      span {
        left: auto;
        right: 0px;

        &:before {
          left: auto;
          right: 2px;
        }        
      }
    }
  }
}

@keyframes boxAnim {
  from {
    transform: rotate3d(1,1,1,0deg);
  }
  25%{
    transform: rotate3d(1,1,1,-90deg);
  }
  50%{
    transform: rotate3d(1,1,1,-180deg);
  }
  75%{
    transform: rotate3d(1,1,1,-270deg);
  }
  to{
    transform:rotate3d(1,1,1,-360deg);
  }
}

@keyframes triangleAnim {
  from {
    transform: rotate3d(1,1,1,0deg);
  }
  25%{
    transform: rotate3d(1,1,1,90deg);
  }
  50%{
    transform: rotate3d(1,1,1,180deg);
  }
  75%{
    transform: rotate3d(1,1,1,270deg);
  }
  to{
    transform:rotate3d(1,1,1,360deg);
  }
}

@keyframes circleAnim {
  from {
    transform: rotate3d(1,1,1,0deg);
  }
  25%{
    transform: rotate3d(1,1,1,-90deg);
  }
  50%{
    transform: rotate3d(1,1,1,-180deg);
  }
  75%{
    transform: rotate3d(1,1,1,-270deg);
  }
  to{
    transform:rotate3d(1,1,1,-360deg);
  }
}