@import './Vars.scss';
@import 'breakpoint-sass';

#app {
  font-family: 'BuenosAiresRegular', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: $pad * 0.6;
  font-feature-settings: "dlig", "ss01";
  letter-spacing: calc(-0.015em + 0.14px);
  line-height: calc(1.14em + 0.4vmax);
  background-color: $primaryColor;
  color: $secondaryColor;
  transition: color 0ms, background-color 125ms 0ms;

  @include breakpoint($breakMobile) {
    font-size: $pad * 0.8;
    line-height: calc(1.14em + 0.6vmax);
  }

  &.is-intro {
    background-color: $primaryColor;
    color: $secondaryColor;
  }

  &.past-intro {
    background-color: $secondaryColor;
    color: $primaryColor;
  }

  &.menu-open {

    @include breakpoint($breakMobile) {
      background-color: $primaryColor;
    }
  }

  &.navigating-up, 
  &.navigating-down {

    .block {

      h3 {
        opacity: 0 !important;
        transform: translateX(-2vw) !important;
      }

      article {
        opacity: 0 !important;
        transition: all 125ms 0ms !important;
      }
    }
  }

  &.navigating-up {

    .block article {
      transform: translateY(2vh);
    }

    .block h3 {
      transition: all 125ms 0ms !important;
    }
  }

  &.navigating-down {

    .block article {
      transform: translateY(-2vh);
    }

    .block h3 {
      transition: all 125ms 0ms !important;
    }
  }

  h1 {
    font-size: $pad;
  }

  h2 {
    font-size: $pad * 0.8;
  }

  h3 {
    font-size: $pad * 1.4;

    @include breakpoint($breakMobile) {
      font-size: $pad * 1.6;
    }
  }

  h4 {
    font-size: $pad * 0.8;

    @include breakpoint($breakMobile) {
      font-size: $pad * 1.1;
    }
  }

  p {
    margin-bottom: $pad / 4;
    hyphens: auto;

    @include breakpoint($breakMobile) {
      margin-bottom: $pad * 0.25;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &+h4 {
      margin-top: $pad;
    }
  }

  a {
    text-decoration: none;
    color: $primaryColor;
  }

  .link {
    display: inline-block;
    position: relative;
    cursor: pointer;
    white-space: nowrap;

    &:after {
      display: inline-table;
      position: absolute;
      content: "";
      left: 0px;
      bottom: -$pad * 0.1;
      width: 100%;
      height: $pad * 0.1;
      background-color: $primaryColor;
    }
  }

  .symbol {
    display: none;

    @include breakpoint($breakMobile) {
      display: block;
      position: relative;
      width: $pad * 10;
      height: auto;
    }

    &.symbol-white g g {
      stroke: $secondaryColor;
    }
  }

  .bold {
    font-family: 'BuenosAiresBold';
    line-height: calc(1.14em + 0.4vmax);
    letter-spacing: 0.01em;
  }

  .margin-top {
    display: block;
    margin-top: $pad / 4;
  }

  .margin-bottom {
    display: block;
    margin-bottom: $pad / 4;
  }

  .padding-top {
    padding-top: $pad * 2;
  }

  .rotate90 {
    transform: rotateZ(90deg);
  }

  .drop-shadow {
    filter: drop-shadow(5px 5px 5px #dbdbdb);
  }

  .logo-symbol {

    svg {
      display: block;
      height: auto;
      fill: $secondaryColor;
    }

    &.box svg {
      animation: 12s linear infinite boxAnim;
    }

    &.triangle svg {
      animation: 9s linear infinite reverse triangleAnim;
    }

    &.circle svg {
      animation: 13s linear infinite circleAnim;
    }
  }

  .block {
    position: relative;
    min-height: 100vh;
    padding: $pad;

    &.is-active {

      &.prev-is-intro {

        h3 {
          opacity: 0.999; // hacky...
          transform: translateX(0.01px); // and again!
          transition: opacity 125ms 1.125s, transform 125ms 1.125s; // but why??

          @include breakpoint($breakMobile) {
            transition: opacity 125ms 125ms, transform 125ms 125ms;
          }
        }
      }

      article {
        opacity: 1;
        pointer-events: auto;
        transition: opacity 125ms 125ms;
      }

      h3 {
        opacity: 1;
        transform: translateX(0);
        transition: opacity 125ms 125ms, transform 125ms 125ms;
      }
    }

    h3 {
      position: fixed;
      top: $pad * 3.7;
      left: $pad * 1.4;
      opacity: 0;
      transform: translateX(-2vw);
      transition: opacity 125ms 0ms, transform 0ms 125ms;
      z-index: 3;

      @include breakpoint($breakMobile) {
        position: relative;
        top: 0;
        left: -0.3vw;
        padding: 0;
        margin: $pad * 0.75 0 $pad;
        z-index: 0;
      }
    }

    article {
      position: relative;
      padding: 0 0 0 $pad;
      margin-bottom: $pad * 3;
      opacity: 0;
      pointer-events: none;
      transition: opacity 125ms;

      &:last-child {
        margin-bottom: 0;
      }

      @include breakpoint($breakMobile) {
        padding: 0;
        margin-bottom: $pad * 2;
      }

      ul {
        margin: $pad / 2 0 0 $pad;

        @include breakpoint($breakMobile) {
          margin: $pad / 2 0 $pad * 0.5 $pad;
        }

        li {
          list-style-type: square;
        }
      }

      &.text-center {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .text {
          width: 66.666%;

          @include breakpoint($breakMobile) {
            width: 100%;
          }

          &.align-center{
            text-align: center;
          }
        }
      }

      &.with-image {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        @include breakpoint($breakMobile) {
          flex-direction: column;
        }

        .text {
          position: relative;
          width: 42%;
          margin: $pad 0;

          @include breakpoint($breakMobile) {
            width: 100%;
          }
        }

        &.image-left {
          flex-direction: row-reverse;

          @include breakpoint($breakMobile) {
            flex-direction: column;
          }
        }
      }

      .image {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 42%;

        @include breakpoint($breakMobile) {
          width: 100%;
        }

        &.align-left {
          align-items: flex-start;
        }

        &.align-right {
          align-items: flex-end;
        }
      }
    }
  }

  .lazy-image {
    position: relative;
    opacity: 0;
    transform: translateX(-2vw);
    transition: all 125ms 125ms;

    &.loaded {
      opacity: 1;
      transform: translateX(0);

      img {
        display: block;

        &.placeholder {
          display: none;
        }
      }
    }

    img {
      display: none;
      max-width: 100%;
      max-height: 60vh;

      &.placeholder {
        display: block;
        width: auto;
        height: auto;
      }
    }

    figcaption {
      position: absolute;
      bottom: $pad * -0.25;
      left: $pad * -0.25;
      font-size: $pad * 0.35;
      line-height: $pad * 0.65;
      padding: 0 $pad * 0.2;
      background-color: $primaryColor;
      color: $secondaryColor;
    }
  }

  .divider {
    display: block !important;
    position: relative;
    
    &:before {
      display: inline-table;
      position: absolute;
      content: "";
      top: -$pad * 0.5;
      left: 0px;
      width: $pad;
      height: $pad * 0.1;
      background-color: $primaryColor;
    }

    &.divider-right {

      &:before {
        left: auto;
        right: 0px;

        @include breakpoint($breakMobile) {
          left: 0px;
          right: auto;
        }
      }
    }
  }

  .illustration {
    font-family: 'AssemblyHumanOne';  
    font-size: $pad * 2;
  }
}

@keyframes boxAnim {
  from {
    transform: rotate3d(1,1,1,0deg);
  }
  25%{
    transform: rotate3d(1,1,1,-90deg);
  }
  50%{
    transform: rotate3d(1,1,1,-180deg);
  }
  75%{
    transform: rotate3d(1,1,1,-270deg);
  }
  to{
    transform:rotate3d(1,1,1,-360deg);
  }
}

@keyframes triangleAnim {
  from {
    transform: rotate3d(1,1,1,0deg);
  }
  25%{
    transform: rotate3d(1,1,1,90deg);
  }
  50%{
    transform: rotate3d(1,1,1,180deg);
  }
  75%{
    transform: rotate3d(1,1,1,270deg);
  }
  to{
    transform:rotate3d(1,1,1,360deg);
  }
}

@keyframes circleAnim {
  from {
    transform: rotate3d(1,1,1,0deg);
  }
  25%{
    transform: rotate3d(1,1,1,-90deg);
  }
  50%{
    transform: rotate3d(1,1,1,-180deg);
  }
  75%{
    transform: rotate3d(1,1,1,-270deg);
  }
  to{
    transform:rotate3d(1,1,1,-360deg);
  }
}