@import './Vars.scss';
@import 'breakpoint-sass';

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;

  article {
    position: relative;
    top: 12.5vh;
  }

  .social-icon {
    display: inline-block;
    margin: $pad * 0.2 $pad * 0.2 0 0;

    @include breakpoint($breakMobile) {
      margin: $pad * 0.4 $pad * 0.2 0 0;
    }

    &:last-child {
      margin-right: 0;
    }

    svg {
      display: block;
    }
  }
}