@import './Vars.scss';
@import 'breakpoint-sass';

.block#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &.is-active {

    .logo {

      .logo-symbol {
        transform: translateX(0);
        opacity: 1;

        &:nth-of-type(1n) {
          transition: all 125ms 125ms;
        }

        &:nth-of-type(2n) {
          transition: all 125ms 250ms;
        }

        &:nth-of-type(3n) {
          transition: all 125ms 375ms;
        }
      }
    }
  }

  article {
    padding-top: 25vh !important;

    .social-icon {
      display: inline-block;
      margin: $pad * 0.2 $pad * 0.2 0 0;

      @include breakpoint($breakMobile) {
        margin: $pad * 0.4 $pad * 0.2 0 0;
      }

      &:last-child {
        margin-right: 0;
      }

      svg {
        display: block;
      }
    }

    .text, .image {
      margin: 0; 
    }

    .logo {
      display: flex;
      width: 100%;
      align-items: flex-start;
      pointer-events: none;

      @include breakpoint($breakMobile) {
        display: none;
      }

      .logo-symbol {
        width: 10vw;
        margin: 0 $pad * 0.5;
        transform: translateX(10vh);
        opacity: 0;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }

        svg {
          fill: $primaryColor;
          width: 100%;
        }
      }
    }
  }
}