@import './Vars.scss';
@import 'breakpoint-sass';

#header {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 100vh;
  transition: all 125ms;

  &.is-active {

    .char-anim1 span, 
    .char-anim2 h2 .char span {
      opacity: 1;
    }

    .emoji {
      opacity: 1;
      transform: translateX(0px);
      transition: all 125ms 1.25s;
    }

    .logo .logo-symbol {
      opacity: 1;
      transform: translateY(0);

      &:nth-of-type(1n) {
        transition: all 500ms 0ms;
      }

      &:nth-of-type(2n) {
        transition: all 500ms 125ms;
      }

      &:nth-of-type(3n) {
        transition: all 500ms 125ms;
      }
    }
  }

  .char-anim1 {
    position: fixed;
    top: $pad;
    left: $pad;
    z-index: 10;

    @include breakpoint($breakMobile) {
      top: $pad * 2;
      left: $pad * 2;
    }

    span {
      opacity: 0;
    }
  }

  .char-anim2 {
    position: fixed;
    right: $pad;
    bottom: $pad;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
    z-index: 10;

    @include breakpoint($breakMobile) {
      bottom: $pad * 2;
      right: $pad * 2;
    }

    h2 {
      position: relative;

      span {
        display: inline-block;
      }

      .char span {
        opacity: 0;
      }
    }
  }

  .logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 50%;
    width: 50vw;
    height: 100vh;
    visibility: visible;
    transform: translateX(-50%);

    @include breakpoint($breakMobile) {
      height: auto;
      width: 80%;
      bottom: 0px;
    }

    .logo-symbol {
      width: 20%;
      opacity: 0;
      transform: translate3d(0, -10vh, 0);

      &.gone {
        transform: translateY(-10vh);
        opacity: 0;
      }

      svg {
        fill: $secondaryColor;
        width: 100%;
      }
    }
  }

  .emoji {
    position: fixed;
    bottom: -4px;
    left: $pad;
    text-align: center;
    opacity: 0;
    transform: translateY(2vh);
    transition: all 125ms 0ms;

    span {
      display: block;
      font-size: $pad * 1.4;
      line-height: $pad * 1.4;

      @include breakpoint($breakMobile) {
        font-size: $pad * 3;
        line-height: $pad * 3;
      }
    }

    label {
      display: block;
      position: relative;
      color: $primaryColor;
      background-color: $secondaryColor;
      padding: 0 $pad / 4;
      border-radius: $pad / 4;
      font-size: $pad * 0.5;
      line-height: $pad;
      height: $pad;
      margin-bottom: $pad / 4;

      @include breakpoint($breakMobile) {
        font-size: $pad;
        line-height: $pad * 1.6;
        height: $pad * 1.6;
        margin-bottom: $pad;
      }

      &:before {
        position: absolute;
        left: 50%;
        bottom: 0px;
        margin: 0 0 -6px -6px;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid $secondaryColor;
        content: "";
      }
    }
  }
}