@import './Vars.scss';
@import 'breakpoint-sass';

#nav {
  display: flex;
  position: fixed;
  top: $pad * 1.35;
  right: $pad;
  justify-content: center;
  align-items: center;
  width: $pad * 2;
  height: $pad * 2;
  background-color: $primaryColor;
  color: $secondaryColor;
  opacity: 0;
  transform: translateX(2vw) rotateZ(45deg);
  transition: all 250ms 0ms;
  cursor: pointer;
  pointer-events: none;
  z-index: 10;

  &.show {
  	opacity: 1;
  	transform: translateX(0) rotateZ(0deg);
  	transition: all 250ms 250ms;
  }

  svg {
    pointer-events: none;
    fill: white;

    &.menu-icon {
      position: absolute;
    }

    &.close-icon {
      position: absolute;
      opacity: 0;
    }
  }
}