@import './Vars.scss';
@import 'breakpoint-sass';

#nav {
  position: fixed;
  top: $pad;
  right: $pad;
  width: $pad * 2;
  height: $pad * 2;
  pointer-events: none;
  z-index: 10;

  @include breakpoint($breakMobile) {
    top: $pad * 4;
    right: $pad * 4;
    width: $pad * 6;
    height: $pad * 6;
  }

  &.show {
    pointer-events: auto;

    .menu-button {
      opacity: 1;
      transform: translateX(0) rotateZ(0deg);
      transition: all 125ms 1s;
    }
  }

  &.is-open {

    svg {
      transform: rotateZ(-90deg);

      &.menu-icon {
        opacity: 0;
      }

      &.close-icon {
        opacity: 1;
      }
    }

    .menu-drawer {
      transform: translateX(0px);
      opacity: 1;
      transition: width 0ms, height 0ms, opacity 125ms, transform 125ms;
      pointer-events: auto;

      @include breakpoint($breakMobile) {
        transform: scale(1);
      }

      .active-bar {
        transition: all 125ms;
      }
    }
  }

  &.project-open {

    .menu-drawer {
      display: none;
    }

    svg {
      transform: rotateZ(90deg);

      &.menu-icon, &.close-icon {
        opacity: 0;
      }

      &.back-icon {
        opacity: 1;
      }
    }
  }

  .menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: $primaryColor;
    color: $secondaryColor;
    cursor: pointer;
    opacity: 0;
    transform: translateX(2vw) rotateZ(45deg);
    transition: all 125ms 0ms;
  }

  .menu-drawer {
    display: flex;
    align-items: center;
    position: absolute;
    right: $pad * 2;
    height: 100%;
    background-color: $primaryColor;
    margin: 0 $pad / 12 0 0;
    padding: 0 $pad / 2;
    opacity: 0;
    transform: translateX(2vw);
    transition: all 125ms;
    pointer-events: none;

    @include breakpoint($breakMobile) {
      position: fixed;
      right: 0;
      top: 0;
      left: 0;
      bottom: 0;
      margin: 0;
      padding: 0;
      transform-origin: top right;
      transform: scale(0.9);
    }

    .active-bar {
      position: absolute;
      bottom: $pad * 0.5;
      background-color: $secondaryColor;
      height: $pad * 0.06;

      @include breakpoint($breakMobile) {
        height: auto;
        width: $pad * 0.4;
        top: auto;
        bottom: auto;
        left: $pad * 2;
      }
    }

    ul {
      display: flex;
      height: 100%;

      @include breakpoint($breakMobile) {
        padding: 0 0 0 $pad * 4;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
      }
    }

    li {
      margin-right: $pad / 2;

      @include breakpoint($breakMobile) {
        margin: 0 0 $pad 0;
      }

      &:last-child {
        margin: 0;
      }

      &.active {
        
      }
    }

    a {
      display: flex;
      align-items: center;
      height: 100%;
      color: $secondaryColor;
      text-decoration: none;

      @include breakpoint($breakMobile) {
        font-size: 6vh;
        line-height: 8vh;
      }
    }
  }

  svg {
    pointer-events: none;
    fill: white;
    transform: rotateZ(0deg);
    transition: all 125ms;

    @include breakpoint($breakMobile) {
      font-size: $pad * 4;
    }

    &.menu-icon {
      position: absolute;
    }

    &.close-icon {
      position: absolute;
      opacity: 0;
    }

    &.back-icon {
      position: absolute;
      opacity: 0;
    }
  }
}