@import './Vars.scss';
@import 'breakpoint-sass';

#news {
	position: relative;
  min-height: 100vh;

  &.is-active {

    article {
      opacity: 1;
      pointer-events: auto;
      transition: opacity 125ms 125ms;
    }

    h3 {
      opacity: 1;
    }
  }

  h3 {
    position: relative;
  	padding: 0 0 0 $pad;
    opacity: 0;
    transition: opacity 125ms;

    @include breakpoint($breakMobile) {
      left: -$pad;
      padding: 0;
      margin: 0 0 $pad * 4;
    }
  }

  article {
    position: relative;
  	padding: 0 0 0 $pad;
    margin-bottom: $pad * 2;
    opacity: 0;
    pointer-events: none;
    transition: opacity 125ms;

    @include breakpoint($breakMobile) {
      padding: 0;
      margin-bottom: $pad * 4;
    }

    h4 {
      font-weight: bold;
    }

  	&.with-image {
  		display: flex;
      justify-content: space-evenly;
      align-items: center;

      @include breakpoint($breakMobile) {
        display: block;
      }

	  	.text {
        position: relative;
	  		width: 42%;
        margin: $pad 0;

        @include breakpoint($breakMobile) {
          width: 100%;
        }
	  	}

  		&.image-right {

  		}
  	}

  	.image {
  		width: 42%;

      @include breakpoint($breakMobile) {
        width: 100%;
      }

  		img {
  			display: block;
  			max-width: 100%;
        max-height: 50vh;
  		}
  	}
  }
}