@import './Vars.scss';
@import 'breakpoint-sass';

#profile {
	position: relative;
  min-height: 100vh;

  &.is-active {

    article {
      opacity: 1;
      pointer-events: auto;
      transition: opacity 125ms 125ms;
    }

    h3 {
      opacity: 1;
    }
  }

  h3 {
  	padding: 0 0 0 $pad;
    z-index: 10;
    opacity: 0;
    transition: opacity 125ms;

    @include breakpoint($breakMobile) {
      top: 20vh;
    }
  }

  article {
    position: relative;
    padding: 0 0 0 $pad;
    margin-bottom: $pad * 2;
    opacity: 0;
    pointer-events: none;
    transition: opacity 125ms;

    @include breakpoint($breakMobile) {
      padding: 0;
      margin-bottom: $pad * 4;
    }

    h4 {
      font-weight: bold;
    }
  }
}