@import './Vars.scss';
@import 'breakpoint-sass';

.block#profile {

	article {
		margin-bottom: $pad !important;

		&.with-image {

			.image {
				flex-direction: row;
				justify-content: flex-start;

				@include breakpoint($breakMobile) {
					justify-content: space-evenly;
				}

				.icon {
					width: 8vw;
					height: auto;
					transform: rotateZ(90deg);

					@include breakpoint($breakMobile) {
						width: 20vw;
					}
				}

				img {

					@include breakpoint($breakMobile) {
						max-height: 33.333vh;
					}
				}
			}
		}
	}
}