@import './Vars.scss';
@import 'breakpoint-sass';

#project {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 100vh;
  background-color: $secondaryColor;
  z-index: 5;
  overflow-y: scroll;
  opacity: 0;
  transition: opacity 125ms 0ms;

  &.is-ready {
    opacity: 1;
    transition: opacity 125ms 0ms;

    h4 {
      opacity: 1;
      transform: translateX(0);
    }
  }

  article {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  	position: relative;
  	top: 15vh;
    padding: $pad * 3 $pad $pad $pad;

    @include breakpoint($breakMobile) {
      top: 0;
      flex-direction: column;
      align-items: flex-start;
      padding: $pad $pad $pad * 2 $pad;
    }

    h4 {
      position: fixed;
      top: $pad * 3.7;
      left: $pad * 1.4;
      font-size: $pad * 1.4;
      transform: translateX(-2vw);
      opacity: 0;
      transition: all 125ms 250ms;

      @include breakpoint($breakMobile) {
        position: relative;
        top: 0px;
        left: 0px;
        font-size: $pad * 1.6;
        margin-top: $pad * 0.75;
        width: 75%;
      }
    }

    .text {
      position: relative;
      margin: $pad * 2 0 0;
      width: 42%;

      @include breakpoint($breakMobile) {
        width: 100%;
      }

      ul {
        margin: $pad 0;

        @include breakpoint($breakMobile) {
          margin: $pad * 0.5 0 $pad;
        }

        li {
          position: relative;
          padding: $pad * 0.25 0 0 $pad * 0.7;

          @include breakpoint($breakMobile) {
            padding-left: $pad;
          }

          svg {
            position: absolute;
            top: $pad * 0.4;
            left: 0px;
            font-size: $pad * 0.5;

            @include breakpoint($breakMobile) {
              top: $pad * 0.35;
              font-size: unset;
            }
          }
        }
      }
    }

    .images {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      width: 42%;

      @include breakpoint($breakMobile) {
        width: 100%;
      }

      .lazy-image {
        margin-top: $pad;

        @include breakpoint($breakMobile) {
          margin-top: $pad * 2;
        }

        &:nth-of-type(1n) {
          transition: all 125ms 125ms;
        }

        &:nth-of-type(2n) {
          transition: all 125ms 250ms;
        }

        &:nth-of-type(3n) {
          transition: all 125ms 375ms;
        }

        &:nth-of-type(4n) {
          transition: all 125ms 500ms;
        }

        &:nth-of-type(5n) {
          transition: all 125ms 625ms;
        }

        &:first-child {
          margin-top: 0;

          @include breakpoint($breakMobile) {
            margin-top: $pad * 2;
          }
        }

        img {
          max-height: 42vh;
        }
      }
    }
  }
}