// colors
$primaryColor: blue; 
$secondaryColor: white;
$accentColor: orange;

// breakpoints
$breakMobile: 0 767px;
$breakTablet: 768px 1024px;
$breakDesktop: 1025px;

// sizes
$pad: 2.8vw;

// fonts
@font-face {
  font-family: 'Cadiz';
  font-weight: normal;
  src: url('./fonts/CadizTrialWeb-Book.woff2') format('woff2'),
       url('./fonts/CadizTrialWeb-Book.woff') format('woff');
}

@font-face {
  font-family: 'Cadiz';
  font-weight: bold;
  src: url('./fonts/CadizTrialWeb-Bold.woff2') format('woff2'),
       url('./fonts/CadizTrialWeb-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Buenos Aires';
  font-weight: normal;
  src: url('./fonts/BuenosAiresTrialWeb-Regular.woff2') format('woff2'),
       url('./fonts/BuenosAiresTrialWeb-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Buenos Aires';
  font-weight: bold;
  src: url('./fonts/BuenosAiresTrialWeb-Bold.woff2') format('woff2'),
       url('./fonts/BuenosAiresTrialWeb-Bold.woff') format('woff');
}