// colors
$primaryColor: blue; 
$secondaryColor: white;
$accentColor: orange;

// breakpoints
$breakMobile: 0 767px;
$breakTablet: 768px 1024px;
$breakDesktop: 1025px;

// sizes
$pad: 2.8vw;

// fonts
@font-face {
  font-family: 'BuenosAiresRegular';
  font-weight: 400;
  font-style: normal;
  src: url('./fonts/BuenosAiresWeb-Regular.eot');
  src: url('./fonts/BuenosAiresWeb-Regular.woff2') format('woff2'),
       url('./fonts/BuenosAiresWeb-Regular.woff') format('woff');
}

@font-face {
  font-family: 'BuenosAiresBold';
  font-weight: 400;
  font-style: normal;
  src: url('./fonts/BuenosAiresWeb-Bold.eot');
  src: url('./fonts/BuenosAiresWeb-Bold.woff2') format('woff2'),
       url('./fonts/BuenosAiresWeb-Bold.woff') format('woff');
}

@font-face {
  font-family: 'AssemblyTrial';
  font-weight: 400;
  font-style: normal;
  src: url('./fonts/AssemblyTrial.eot');
  src: url('./fonts/AssemblyTrial.woff2') format('woff2'),
       url('./fonts/AssemblyTrial.woff') format('woff');
}