// colors
$primaryColor: blue; 
$secondaryColor: white;
$accentColor: orange;

// breakpoints
$breakMobile: 0 768px;
$breakTablet: 769px 1024px;
$breakDesktop: 1025px;

// sizes
$pad: 5.6vmin;

// fonts
@font-face {
  font-family: 'BuenosAiresRegular';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('./fonts/BuenosAiresWeb-Regular.eot');
  src: url('./fonts/BuenosAiresWeb-Regular.woff2') format('woff2'),
       url('./fonts/BuenosAiresWeb-Regular.woff') format('woff');
}

@font-face {
  font-family: 'BuenosAiresBold';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('./fonts/BuenosAiresWeb-Bold.eot');
  src: url('./fonts/BuenosAiresWeb-Bold.woff2') format('woff2'),
       url('./fonts/BuenosAiresWeb-Bold.woff') format('woff');
}

@font-face {
  font-family: 'AssemblyHumanOne';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('./fonts/AssemblyHumanOneWeb-Regular.eot');
  src: url('./fonts/AssemblyHumanOneWeb-Regular.woff2') format('woff2'),
       url('./fonts/AssemblyHumanOneWeb-Regular.woff') format('woff');
}