@import './Vars.scss';
@import 'breakpoint-sass';

.block#work {

	article {
		padding: 0 !important;

		@include breakpoint($breakMobile) {
			flex-direction: column-reverse !important;

			&:first-of-type {
				margin-top: $pad * 2;
			}
		}

		&>a {
			display: flex;
			width: 80vw;
			justify-content: space-around;
			align-items: center;

			@include breakpoint($breakDesktop) {

				&:hover {

					img:not(.placeholder) {
						animation: 1s ease-in-out infinite alternate hoverAnim;
					}
				}
			}

			@include breakpoint($breakMobile) {
				flex-direction: column;
				width: 100%;
			}
		}

		p {
			
			&:last-of-type {
				margin-bottom: 0;
			}

			@include breakpoint($breakMobile) {
				margin-bottom: $pad * 0.25;
			}
		}

		&.image-left {

			@include breakpoint($breakMobile) {

				.divider {

					&:before {
						left: auto;
						right: 0px;
					}
				}

				.text {
					text-align: right;

					p {
						padding-left: 10%;
					}
				}
			}

			&>a {	
				flex-direction: row-reverse;

				@include breakpoint($breakMobile) {
					flex-direction: column;
				}
			}
		}

		&.image-right {
			
			.text {
				text-align: right;

				@include breakpoint($breakMobile) {
					text-align: left;

					p {
						padding-right: 10%;
					}
				}
			}
		}

		.text {
			margin-top: $pad * 1.5 !important;
		}

		.image {

			img {
				max-width: 100% !important;
				max-height: 66.666vh !important;

				@include breakpoint($breakMobile) {
					max-width: 100% !important;
					max-height: 33.33vh !important;
				}
			}
		}
	}

	.info-button {
		display: inline-flex;
		align-items: center;
		margin-top: $pad * 0.5;
		padding: $pad * 0.2 $pad * 0.5 $pad * 0.2 $pad * 0.2;
		background-color: $primaryColor;
		color: $secondaryColor;
		cursor: pointer;

		@include breakpoint($breakMobile) {
			margin-top: $pad * 0.5;
		}

		svg {
			margin-right: $pad * 0.25;

      @include breakpoint($breakMobile) {
        font-size: $pad;
      }
		}
	}
}