@import './Vars.scss';
@import 'breakpoint-sass';

#work {

	article {
		padding: 0 !important;

		@include breakpoint($breakMobile) {
			margin-bottom: $pad * 3 !important;
		}

		&>a {
			display: flex;
			width: 80vw;
			justify-content: space-around;
			align-items: center;

			@include breakpoint($breakMobile) {
				display: block;
				width: 100%;
			}
		}

		p {
			margin-bottom: 0;
		}

		&.image-left {

			&>a {	
				flex-direction: row-reverse;
			}
		}

		&.image-right {
			
			.text {
				text-align: right;

				@include breakpoint($breakMobile) {
					text-align: left;
				}
			}
		}

		.image {
			align-items: flex-start !important;

			img {
				max-width: 100% !important;
				max-height: 66.666vh !important;

				@include breakpoint($breakMobile) {
					max-width: 100% !important;
					max-height: 33.33vh !important;
				}
			}
		}

		.text {

			@include breakpoint($breakMobile) {
				margin-bottom: $pad * 2 !important;
			}
		}
	}

	.assembly {
		position: relative;
		top: $pad;

		@include breakpoint($breakMobile) {
			top: $pad * 4;
		}
	}
}