@import './Vars.scss';
@import 'breakpoint-sass';

#work {

	article {

		@include breakpoint($breakMobile) {
			margin-bottom: $pad * 3 !important;
		}

		p {
			margin-bottom: 0;
		}

		&.with-image {

			@include breakpoint($breakMobile) {
				flex-direction: column-reverse;
			}
		}

		&.image-right {
			
			.text {
				text-align: right;

				@include breakpoint($breakMobile) {
					text-align: right;
				}
			}

			.image {
				@include breakpoint($breakMobile) {
					justify-content: flex-end;
				}
			}

		}

		.image {

			img {

				@include breakpoint($breakMobile) {
					max-height: 50vh !important;
				}
			}
		}

		.text {

			@include breakpoint($breakMobile) {
				margin-bottom: $pad * 2 !important;
			}
		}
	}
}